
<TabBar
  [hidden]="hidden"
  [barTintColor]="'white'"
  [tintColor]="tintColor"
  [ngStyle]="tabbarStyle"
  [activeTab]="selectedIndex"
  [unselectedTintColor]="unselectedTintColor"
  [tabBarPosition]="'bottom'"
  (onPress)="tabBarTabOnPress($event)"
>


  <TabBarItem [title]="'首页'" [icon]="icon1" [selectedIcon]="icon11">
    <ng-template #icon1>
      <div
        style="width:22px;height: 22px;background: url('https://yiban-reading.oss-cn-beijing.aliyuncs.com/2021/11/09/1b1751cdd2f84aad9367503e5d7d0e69index1.png') center center / 21px 21px no-repeat;"
      ></div>
    </ng-template>
    <ng-template #icon11>
      <div
        style="width:22px;height: 22px;background: url('https://yiban-reading.oss-cn-beijing.aliyuncs.com/2021/11/09/fc9e1a0ca2c242f5a350955099adf118index2.png') center center / 21px 21px no-repeat;"
      ></div>
    </ng-template>
    <div style="background-color: white; height: 100%; text-align: center">
      <div>
        <app-index [bookList]="bookList" [notice]="notice"></app-index>

      </div>
    </div>
  </TabBarItem>
  <TabBarItem [title]="'书架'" [icon]="icon2" [selectedIcon]="icon22">
    <ng-template #icon2>
      <div
        style="width:22px;height: 22px;background: url('https://yiban-reading.oss-cn-beijing.aliyuncs.com/2021/11/09/d00fa768751843fa993d8de9176d47dbbookstore1.png') center center / 21px 21px no-repeat;"
      ></div>
    </ng-template>
    <ng-template #icon22>
      <div
        style="width:22px;height: 22px;background: url('https://yiban-reading.oss-cn-beijing.aliyuncs.com/2021/11/09/7918ace569644549be61b9102823827dbookstore2.png') center center / 21px 21px no-repeat;"
      ></div>
    </ng-template>

    <div style="background-color: white; height: 100%; text-align: center">
      <div>
        <app-bookstore [userInfo]="userInfo" [bookStarList]="bookStarList"></app-bookstore>
      </div>
    </div>
  </TabBarItem>


  <TabBarItem [title]="'我的'" [key]="'3'" [icon]="icon3" [selectedIcon]="icon33">
    <ng-template #icon3>
      <div
        style="width:22px;height: 22px;background: url('https://yiban-reading.oss-cn-beijing.aliyuncs.com/2021/11/09/1e3d00d7021d4725a0fc45a742b1c47bme1.png') center center / 21px 21px no-repeat;"
      ></div>
    </ng-template>
    <ng-template #icon33>
      <div
        style="width:22px;height: 22px;background: url('https://yiban-reading.oss-cn-beijing.aliyuncs.com/2021/11/09/47d433b2aeda44519a61616322b8b2fbme2.png') center center / 21px 21px no-repeat;"
      ></div>
    </ng-template>
    <div style="background-color: white; height: 100%; text-align: center">
      <app-me [userInfo]="userInfo"></app-me>
    </div>
  </TabBarItem>

</TabBar>
<ng-template #content>
  <a style="display: block; margin-top: 40px; margin-bottom: 20px; color: #108ee9" (click)="showNextTabBar($event)">
    Click to next tab-bar
  </a>
  <a style="display: block; margin-top: 20px; margin-bottom: 20px; color: #108ee9" (click)="showTabBar($event)">
    Click to show/hide tab-bar
  </a>
  <a style="display: block; margin-top: 20px; margin-bottom: 20px; color: #108ee9" (click)="changePosition($event)">
    Click to change tab-bar position top/bottom
  </a>
  <a style="display: block; margin-bottom: 60px; color: #108ee9" (click)="showFullScreen($event)">
    Click to switch fullscreen
  </a>
</ng-template>
